.hero {
  margin-top: 70px;
  padding: 13rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headline {
  color: #D0F0C0;
  font-size: 3rem;
  font-weight: normal;
}

.tagline2 {
  color: #1BA13E;
  font-size: 1.5rem;
  padding: 0.3rem 2rem;
  font-weight: 400;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  letter-spacing: 3px;
}

.herocta {
  display: flex;
  gap: 40px;
  padding: 1rem;
}

.herocta button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.2rem;
}

.hero-p-btn {
  border: 2px solid #D0F0C0;
  background-color: #D0F0C0;
  color: #1BA13E;
}

.hero-s-btn {
  background-color: #1BA13E;
  border: 2px solid #1BA13E;
  color: #D0F0C0;
}